body {
  margin: 0;
  font-family: Arial;
  background: black;
  color: #00ff00;
  text-align: center;
}

.container {
  padding: 40px;
}

button {
  display: block;
  width: 80%;
  margin: 15px auto;
  padding: 15px;
  font-size: 18px;
  background: black;
  color: #00ff00;
  border: 2px solid #00ff00;
  border-radius: 10px;
}

#output {
  margin-top: 20px;
  font-size: 16px;
}
