body {
  margin: 0;
  background: black;
}

.app {
  position: relative;
  max-width: 420px;
  margin: auto;
}

.ui {
  width: 100%;
  display: block;
}

/* INVISIBLE BUTTONS */
.btn {
  position: absolute;
  background: transparent;
  border: none;
}

/* QR */
.qr {
  top: 6%;
  left: 6%;
  width: 70px;
  height: 70px;
}

/* AI */
.ai {
  top: 6%;
  right: 6%;
  width: 70px;
  height: 70px;
}

/* REQUEST */
.request {
  top: 45%;
  left: 8%;
  width: 38%;
  height: 60px;
}

/* PAY */
.pay {
  top: 45%;
  right: 8%;
  width: 38%;
  height: 60px;
}

/* DISPLAY */
.display {
  position: absolute;
  top: 34%;
  left: 28%;
  width: 55%;
  color: #00ff99;
  font-size: 26px;
  font-weight: bold;
  pointer-events: none;
}

/* KEYPAD */
.keypad {
  position: absolute;
  top: 58%;
  left: 10%;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 22px;
}

.keypad button {
  height: 75px;
  background: transparent;
  border: none;
}
